.seat-container
{
    overflow-x: auto;
    overflow-y: hidden;
}
.section-pricing-label
{
    font-weight: bold;
    margin: 10px;
    padding: 0;
    text-align: left;
    color: #000;
}
.label-border-bottom{
    border-bottom: 1px solid #e2e2e2;  
    min-width: 2000px;
}